".source.js, .source.jsx, .source.ts":
  "async test (mocha/mukla)":
    prefix: "ita"
    body: """
    ${1:it}('${2:description}', (${3:done}) => {
      ${0}
    })
    """
  "synchronous test (mocha/mukla)":
    prefix: "its"
    body: """
    ${1:it}('${2:description}', () => {
      ${0}
    })
    """
  "tape-style test":
    prefix: "te"
    body: """
    ${1:test}('${2:description}', (${3:t}) => {
      ${0}
    })
    """
