".source.js, .source.jsx, .source.ts":
  "Node callback":
    prefix: "cb"
    body: "(err, ${1:value}) => {${0}}"
  "Promise constructor":
    prefix: "p",
    body: """
    new Promise((resolve${1:, reject}) => {
      ${0}
    })
    """

  "Promise.then":
    prefix: "then"
    body: "${1:promise}.then((${2:value}) => {${0}})"
  "chain then":
    prefix: ".then"
    body: ".then((${1:value}) => {${0}})"

  "Promise.catch":
    prefix: "catch"
    body: "${1:promise}.catch((${2:err}) => {${0}})"
  "chain catch":
    prefix: ".catch"
    body: ".catch((${1:err}) => {${0}})"
